<% include ../index.ejs %>

<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm login-box">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Registration Form</h6>
                <!-- <small>Since 2011</small> -->
            </div>
        </div>

        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>

        <!-- FORM -->
        <form class="pt-3" action=""  method="POST" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="name" name="name" class="form-control" id="name" placeholder="Enter name">
                </div>
                <div class="form-group col-md-6">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Enter unique uername">
                </div>
            </div>

             <!-- EMAIL -->
             <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Enter password">
            </div>

            <!-- PASSWORD -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Enter password">
            </div>

            <!-- HOBBIES -->
            <label class="mt-1">Hobbies : </label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="hobbies" type="checkbox" value="Indor gemes" id="indor">
                <label class="form-check-label" for="indor">
                    Indor games
                </label>
            </div>
            <!-- <div class="form-check form-check-inline">
                <input class="form-check-input" name="hobbies" type="checkbox" value="Outdor games" id="outdor">
                <label class="form-check-label" for="outdor">
                    Outdor games
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="hobbies" type="checkbox" value="Tech loving" id="techloving">
                <label class="form-check-label" for="techloving">
                    Tech loving
                </label>
            </div> -->

            <!-- GENDER -->
            <br>
            <label>Gender : </label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="male" value="Male">
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="female" value="Female">
                <label class="form-check-label" for="female">Female</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="other" value="Others">
                <label class="form-check-label" for="other">Others</label>
            </div>

            <!-- DATE PICKER -->
            <div class="form-group">
                <label for="dob">D.O.B.</label>
                <input type="date" name="dob" class="form-control" id="datepicker">
            </div>

            <!-- ADDRESS -->
            <div class="form-group">
                <label for="address1">Address1 </label>
                <input type="text" name="address1" class="form-control" id="address1" placeholder="1234 Main St">
            </div>
            <div class="form-group">
                <label for="address2">Address 2</label>
                <input type="text" name="address2" class="form-control" id="address2"
                    placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="city">City</label>
                    <input type="text" name="city" class="form-control" id="city">
                </div>
                <div class="form-group col-md-4">
                    <label for="country">Country</label>
                    <select id="country" name="country" class="form-control">
                        <option selected>Choose...</option>
                        <option>India</option>
                        <option>Others</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="zip">Zip</label>
                    <input type="text" name="zip" class="form-control" id="zip">
                </div>
            </div>

            <!-- TEXTAREA -->
            <div class="form-group">
                <label for="textareawrite">Write something</label>
                <textarea name="textareawrite" class="form-control" id="textareawrite" rows="3"></textarea>
            </div>

            <!-- IMAGE -->
            <div class="form-group">
                <label for="avtar">Browse image</label>
                <input type="file" name="avtar" class="form-control-file" id="avtar">
            </div>

            <!-- REMEMBER ME -->
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>


        <!-- END FORM -->
        <div class="media text-muted pt-3">
            <small class="d-block text-right mt-3 pb-4">
                <a href="/users/login">Already Login</a>
            </small>
        </div>
    </div>
</main>


<!-- <script>
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });
</script> -->

<% include ../include/script.ejs %>