<% include ../index.ejs %>
<main role="main" class="container">
    <div class="my-5 p-3 bg-white rounded shadow-sm">



        <div class="media text-muted pt-3">
            <small class="d-block text-right mt-3 pb-4">
                <a href="#">If not registered</a>
            </small>
        </div>
    </div>
</main>


<% include ../include/script.ejs %>